@using Entity.ViewModels.Web.Auth
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
            {
                <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
                @Html.ValidationMessageFor(m => m.LoginMessage, null, new { @class = "text-danger" })
                <div class="mb-2">
                    @Html.TextBoxFor(m => m.LoginUserDto.Email, new { @class = "form-control form-control-lg", placeholder = "Eposta@adresi.com", type = "email" })
                </div>
                <div class="mb-2">
                    @Html.PasswordFor(m => m.LoginUserDto.Password, new { @class = "form-control form-control-lg", placeholder = "Şifre" })
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Giriş Yap</button>
                <hr />
                <p class="text-center">veya</p>
                <a href="@Url.Action("Register","Auth")" class="w-100 btn btn-lg btn-success">Kayıt Ol</a>
            }
        </div>
    </div>
</div>