
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

                <div class="mb-2">
                    <input type="email" class="form-control form-control-lg" placeholder="Eposta@adresi.com">
                </div>
                <div class="mb-2">
                    <input type="password" class="form-control form-control-lg" placeholder="Şifre">
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Giriş Yap</button>
                <hr />
                <p class="text-center">veya</p>
                <button class="w-100 btn btn-lg btn-success" type="submit">Kayıt Ol</button>

            </form>
        </div>
    </div>
</div>