@using BusinessLogic.Extensions.ClaimExtensions
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2><small class="text-muted">Hoşgeldin</small> @User.Identity.UserFullName()</h2>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("NewCar","Panel")" class="btn btn-success btn-lg">Yeni araç ekle!</a>
        </div>
    </div>

</div>

